<html>
  <head>
    <title>User Model Test Runner</title>
  </head>

  <style> 
    .error
    {
      background-color: pink;
    }

   </style>


  <body>
    <h1>User Modeling Tester</h1>

    <form action="/" method="GET">
      <label for="api">API Function</label><br />
      <select class="api" name="api_function">
        <option value="text" <%= "selected" if @function == "text" %> >Create Model based on text.</option>
        <option value="twitter" <%= "selected" if @function == "twitter" %> >Create Model based on tweets for @handle</option>
        <option value="visualize_text" <%= "selected" if @function == "visualize_text" %> >Visualize a use model based on text.</option>
        <option value="visualize_twitter" <%= "selected" if @function == "visualize_twitter" %> >Visualize a use model based on tweets for @handle.</option>
      </select>

      <br /><br />
      <label for="request">Data:</label><br />
      <textarea name="data" rows=10 cols=50 ><%= @data %></textarea>
      <br />
      <input type="submit" value="Publish" />
    </form>


    <% if !@error.nil? %>
      <h2>Error Conditions</h2>
      <div> <%= @error %></div>
    <% end %>    

    <h2>Endpoint</h2>
    <div class="result">
      <%= @endpoint unless @endpoint.nil? %>
    </div>

    <% if defined? @body %>
      <h2>Body in Posted Request</h2>
      <div class="result"><%= @body %></div>
    <% end %>

    <h2>Result</h2>
    <div class="result" style="width: 800px; height: 800px;">
      <%= @result unless @result.nil? %>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <script>
      var jefferson_speech = "Called upon to undertake the duties of the first executive office of our country, I avail myself of the presence of that portion of my fellow-citizens which is here assembled to express my grateful thanks for the favor with which they have been pleased to look toward me, to declare a sincere consciousness that the task is above my talents, and that I approach it with those anxious and awful presentiments which the greatness of the charge and the weakness of my powers so justly inspire. A rising nation, spread over a wide and fruitful land, traversing all the seas with the rich productions of their industry, engaged in commerce with nations who feel power and forget right, advancing rapidly to destinies beyond the reach of mortal eye -- when I contemplate these transcendent objects, and see the honor, the happiness, and the hopes of this beloved country committed to the issue and the auspices of this day, I shrink from the contemplation, and humble myself before the magnitude of the undertaking. Utterly, indeed, should I despair did not the presence of many whom I here see remind me that in the other high authorities provided by our Constitution I shall find resources of wisdom, of virtue, and of zeal on which to rely under all difficulties. To you, then, gentlemen, who are charged with the sovereign functions of legislation, and to those associated with you, I look with encouragement for that guidance and support which may enable us to steer with safety the vessel in which we are all embarked amidst the conflicting elements of a troubled world."

      function changeExample() {
         var examples = {
          "text" : jefferson_inagrual_address,
          "twitter" : "IBMWatson",
          "visualize_text" : jefferson_inagrual_address,
          "visualize_twitter" : "IBMWatson"
        }

        var api = $('.api').val();

        $("textarea[name='data']").empty().append(examples[api]);
      }


      $(function() {
         $("select.api").change(changeExample)
      });


    </script>
  </body>
</html>
